extends baseEmail

block content
  p Hello #{firstName},
  p We received a request to reset your password. If you made this request, click the      button below to reset your password:
   table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p If the button above is not working, copy the link below and paste it in your browser
  p #{url}
  p If you didn't request a password reset, you can ignore this email.
  p For security reasons, this link will expire in 10 minutes.
  p If you have any questions, contact our support team at [ireporter14@gmail.com].
  p Best regards,
  p The iReporter Team